/* =============== HEADER ============== */
#top-bar {
	text-align: right;
	background-color: #dc0021;
	font-size: 13px;
}
#top-bar a {
	color: #fff;
	text-decoration: none;
	padding: 5px 0;
	display: inline-block;
}
#top-bar a span {
	color: #ffe300;
}

/* #top-header */
#top-header {
	background: #ef4339;
	padding: 8px 0;
}

#top-header a.logo {
	padding: 5px 0;
	max-width: 200px;
	padding-left: 10px;
}

#top-header a.logo img {
	max-width: 100%;
	height: auto;
}

/* STYLE Menu responsive */
#top-header button.nav-toggle {
	outline: none;
	border: none;
	background: none;
	color: #fff;
	font-size: 20px;
	display: none;
}

/* seach */
#header .form-search {
	position: relative;
}

#header .form-search input{
	outline: none;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	width: 470px;
	padding: 10px 57px 10px 10px;
}

#header .form-search button {
	position: absolute;
	top: 0;
	right: 0;
	background: #ffe300;
	border: none;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#header .form-search input::placeholder {
	color: #757575;
}

#header .form-search input {
	color: #1c1c1c;
}

/* list-info */
ul.list-info {
	margin-bottom: 0;
}
ul.list-info li {
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 14px 0;
}

ul.list-info li a {
	display: block;
}

ul.list-info li a:hover {
	text-decoration: none;
}

ul.list-info li .icon {
	background: #a90019;
	color: #fff;
	border-radius: 50%;
	font-size: 16px;
	margin-right: 4px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
}

ul.list-info li .content a {
	padding-bottom: 2px;
	font-size: 15px;
	color: #fff;
	line-height: 1.1;
	font-weight: 500;
}	

ul.list-info li .content span{
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #f7f7f7;
	line-height: 1.1;
}

/* account */
ul.list-info li.account {
	position: relative;
	z-index: 1;
}

/* Tao 1 thanh ngang (ngoac nhon chia len) => lien ket khi hover xuong duoi */
ul.list-info li.account::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -22px;
	width: 100%;
	height: 25px;
	background: 0 0;
	display: none;
}

/* Tao 1 dau ngoac nhon Khi hover vao li*/
ul.list-info li.account:hover ul.login::before{
	border: 9px solid transparent;
	border-bottom: 9px solid #efefef;
	margin-left: -9px;
	bottom: 100%;
	left: 20%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


ul.list-info li.account:hover::before {
	display: block;
}

ul.list-info li.account ul.login {
	position: absolute;
	top: 78px;
	min-width: 200px;
	border: 1px solid #efefef;
	background: #fff;
	margin: 0;
	padding: 4px 12px;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.18);
	display: none;
}

ul.list-info li.account:hover ul.login {
	display: block;
}

ul.list-info li.account ul.login li {
	padding: 5px 0;
}

ul.list-info li.account ul.login li a {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	transition: all 0.1s;
}

ul.list-info li.account ul.login li:hover a{
	color: #dc0021;
}

/* card */
ul.list-info li.cart {
	position: relative;
}

ul.list-info li.cart .cart-icon a {
	color: #fff;
}


ul.list-info li.cart .num-item {
	position: absolute;
	top: 5px;
	left: 25px;
	height: 20px;
	min-width: 20px;
	border-radius: 50%;
	color: #333;
	background-color: #ffe300;
	text-align: center;
	line-height: 20px;
}


/*====== Menu ======= */
#menu-vertical.main-hide .nav-cat {
	display: none;
}
#menu-vertical.main-hide:hover .nav-cat {
	display: block;
	animation: fade 0.35s;
}
.has-icon::after {
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 14px;
	position: absolute;
	right: 7px;
	top: 10px;
}

/* menu vertical */
#menu {
	border-bottom: solid 1px #e4e4e4;
	background: #fff;
}
#menu #menu-vertical {
	flex: 0 0 25%;
	max-width:  25%;
	position: relative;
}
#menu #menu-vertical>.title-menu {
	background: #e72929;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

#menu #menu-vertical>.title-menu:hover {
	cursor: pointer;
}

#menu #menu-vertical>.title-menu>span{
	padding: 0 15px;
}

#menu #menu-vertical>.title-menu::after{
	font-family: "FontAwesome";
	content: "\f0d7";
}
/* menu vertical */
.nav-cat {
	box-shadow: 0px 0 5px rgba(0,0,0,0.15);
	position: absolute;
	z-index: 5;
	width: 100%;
	background: #fff;
}

#menu-vertical ul#menu-cat {
	padding-left: 0;
	margin-bottom: 0;
}

#menu-vertical ul#menu-cat>li {
	padding: 0 10px;
	display: flex;
	align-items: center;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	display: block;
}

#menu-vertical ul#menu-cat li a{
	font-weight: 400;
	font-size: 14px;
	display: block;
	color: #231f20;
	text-decoration: none;
}

#menu-vertical ul#menu-cat>li>a{
	border-bottom: 1px solid #f6f6f6;
	padding: 10px 20px;
	transition: all 0.25s;
	position: relative;
}

#menu-vertical ul#menu-cat>li.item>a::before {
	position: absolute;
	left: -2px;
	top: 9px;
	font-size: 15px;
	font-weight: 400;
}

#menu-vertical ul#menu-cat>li.phone>a::before{
	font-family: 'icomoon';
	content: "\e906";
}
#menu-vertical ul#menu-cat>li.laptop>a::before{
	font-family: 'icomoon';
	content: "\e904";
}
#menu-vertical ul#menu-cat>li.washing>a::before{
	font-family: 'icomoon';
	content: "\e908";
}
#menu-vertical ul#menu-cat>li.tv>a::before{
	font-family: 'icomoon';
	content: "\e907";
}
#menu-vertical ul#menu-cat>li.air>a::before{
	font-family: 'icomoon';
	content: "\e901";
}
#menu-vertical ul#menu-cat>li.kitchen>a::before{
	font-family: 'icomoon';
	content: "\e903";
}
#menu-vertical ul#menu-cat>li.office>a::before{
	font-family: 'icomoon';
	content: "\e905";
}
#menu-vertical ul#menu-cat>li.digital>a::before{
	font-family: 'icomoon';
	content: "\e902";
}
#menu-vertical ul#menu-cat>li.accessories>a::before{
	font-family: 'icomoon';
	content: "\e900";
}

#menu-vertical ul#menu-cat>li:hover>a {
	color: #ef4339;
}

/* mega menu vertical */
#menu-vertical ul#menu-cat li .mega-menu {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 100%;
	width: 300%;
	padding: 10px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
	display: none;
	animation: fade 0.35s;
	background: #fff;
	min-height: 376px;
	max-height: 376px;
	overflow-y: auto;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#menu-vertical ul#menu-cat li:hover .mega-menu {
	display: block;
}

#menu-vertical ul#menu-cat li:hover .mega-menu ul.mega-content {
	flex-wrap: wrap;
}

.mega-menu.vertical ul.mega-content li{
	flex:  0 0 20%;
	padding:  0 15px;
	margin-bottom: 5px;
}

.mega-menu.vertical ul.mega-content li h2.title-menu {
	border-bottom: 1px solid #ef4339;
}

.mega-menu.vertical ul.mega-content li h2.title-menu a{
	padding: 0px 0px 10px 0px;
	color: #231f20;
	text-transform: initial;
	transition: all 0.25s;
}

.mega-menu.vertical ul.mega-content li ul.sub-menu li a{
	padding: 2px 0 3px 0;
	color: #6c6161!important;
	transition: all 0.25s;
}

.mega-menu.vertical ul.mega-content li:hover h2.title-menu a,
.mega-menu.vertical ul.mega-content li ul.sub-menu li:hover a 
{
	color: #ef4339 !important;
}

/* menu horizontal */
#menu #menu-horizontal {
	flex: 0 0 75%;
	max-width:  75%;
}

ul#main-menu {
	padding-left: 0;
	margin-bottom: 0;
	position: relative;
}


ul#main-menu li a {
	color: #333;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.2s;
}

#menu-horizontal>ul#main-menu>li:hover>a {
	color: #EF4339;
	background: #FFE300;
}

#menu-horizontal ul#main-menu li:hover .mega-menu {
	display: block;
}

/* menu mega horizontal */
/* 100vw :  kich thuoc chieu ngang man hinh; */
#menu-horizontal ul#main-menu .mega-menu {
	padding: 10px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 100%;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
	display: none;
	animation: fade 0.35s;
	background: #fff;
	min-height: 376px;
	max-height: 376px;
	overflow-y: auto;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

ul#main-menu .mega-menu ul.mega-content {
	display: flex;
	flex-wrap: wrap;
}

ul#main-menu .mega-menu ul.mega-content>li {
	flex:  0 0 25%;
	padding: 0 5px;
	margin-bottom: 5px;
}

ul#main-menu .mega-menu ul.mega-content li h2.title-menu a {
	font-size: 14px;
	padding:  0px;
	display: block;
	text-transform: uppercase;
	color: #333;
}

ul#main-menu .mega-menu ul.mega-content li:hover h2.title-menu a,
ul#main-menu .mega-menu ul.mega-content ul.sub-menu li:hover a{
	color: #EF4339;
}

ul#main-menu .mega-menu ul.mega-content ul li a {
	padding:  0;
	font-size: 14px;
	font-weight: 400;
	color: #6c6161;
	padding: 2px 0 3px 0;
}


/* ================== END HEADER ================= */