.login-form {
	width: 350px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	padding: 15px;
	background-color: white;
}

.login-form .title-login {
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	margin: 0;
	color: #333333;
	margin-bottom: 5px;
}

.login-form .form-group {
	margin-bottom: 10px;
}

.login-form label[for] {
	cursor: pointer;
	font-weight: 500;
}

.login-form input {
	outline: none;
	transition: all 0.25s;
}

.login-form input:focus {
	border: 1px solid #ef4339!important;
}

.login-form input[type='text'],.login-form input[type='password'] {
	display: block;
	min-height: 40px;
	background-color: #FFF;
	border-radius: 5px;
	border: 1px #EBEBEB solid;	
	width: 100%;    
	padding: .375rem 20px;
	font-size: 1em;
	line-height: 1.5;
	color: #55595C;
	background-image: none;
	margin: 0;       
	box-shadow: none;
}

.login-form a.forgot-password {
	color: #333;
	display: block;
	transition: all 0.25s;
	text-decoration: none;
}
.login-form a.forgot-password:hover {
	color: #ef0339;
}

.login-form .btn-login {
	width: 100%;
	margin-top: 15px;
	background: #ef4339;
	color: #FFF;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;	
	outline: none;
	cursor: pointer;
	border: none;
	transition: all 0.25s;	 
}
.login-form .btn-login:hover {
	background: #ef0339;
}

.error {
	color: #a94442;
}

.alert {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	display: block;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert i {
	margin-right: 5px;
}