
/* Responsive menu */
#wp-responsive {
	width: 375px;
	height: 100vh;
	background: #2a2a4d;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 9999;
	left: -375px;
}

#wp-responsive a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

#wp-responsive .content-top {
	padding-left: 30px;
}
#wp-responsive .content-top a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#wp-responsive #menu-responsive li {
	border-bottom: solid 1px #212529;
}
#wp-responsive #menu-responsive li a {
	display: block;
	padding: 10px 0 10px 30px;
}

#wp-responsive #menu-responsive li a::before{
	width: 8px;
	height: 8px;
	border-radius: 8px;
	content: "";
	background: #ef4339;
	display: inline-block;
	margin-right: 10px;
}

#wp-responsive #menu-responsive li:hover a, #wp-responsive .content-top a:hover {
	color: #ef4339;
	transition: all 0.25s;
}

/* tam man che */
.opacity-menu {
	display: none;
	content: " ";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
}