.bread-crumb {
	background-color: #fff;
}
ul.breadcrumb {
	margin-bottom: 0;
}
ul.breadcrumb li span{
	color: #ef4339;
}

ul.breadcrumb li+li::before {
	padding: 2px 5px;
	color: black;
	content: "/\00a0";
}
ul.breadcrumb li a {
	padding: 10px 0;
	display: block;
	text-decoration: none;
	color: #333;
	transition: all 0.25s;
}
ul.breadcrumb li:hover a {
	color: #ef4339;
}
