/* cyrillic-ext */
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url("../../font/Roboto/Roboto-Italic.ttf") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("../../font/Roboto/Roboto-MediumItalic.ttf") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("../../font/Roboto/Roboto-BoldItalic.ttf") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url("../../font/Roboto/Roboto-Light.ttf") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url("../../font/Roboto/Roboto-Regular.ttf") format('woff2');
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("../../font/Roboto/Roboto-Medium.ttf") format('woff2');
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("../../font/Roboto/Roboto-Bold.ttf") format('woff2');
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url("../../font/Roboto/Roboto-Black.ttf") format('woff2');
}


/*  FONT Segoue-ui */
@font-face {
  font-family: 'Segoe';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Segoe Italic'), local('Segoe UI Italic'), url("../../font/segoe-ui/Segoe UI Italic.ttf") format('woff2');
}

@font-face {
  font-family: 'Segoe';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Segoe Bold Italic'), local('Segoe Bold Italic'), url("../../font/segoe-ui/Segoe UI Italic.ttf") format('woff2');
}

@font-face {
  font-family: 'Segoe';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Segoe'), local('Segoe UI'), url("../../font/segoe-ui/Segoe UI.ttf") format('woff2');
}

@font-face {
  font-family: 'Segoe';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Segoe Bold'), local('Segoe Bold'), url("../../font/segoe-ui/Segoe UI Bold.ttf") format('woff2');
}

